{% extends 'layout.html.twig' %}
{% block title "Mes article" %}
{% block body %}
<h1>Bienvenu sur le blog</h1>
<ul>
    <li><a href="{{ router.generateUri('blog.show', {slug:'aeea'}) }}">lien1</a></li>
    <li><a href="{{ router.generateUri('blog.show', {slug:'poo'}) }}">lien 2</a></li>
</ul>
{% endblock %}